* {
  font-family: "canaro-medium";
}

#mxm20-logo {
  animation: rotation 3.5s infinite linear;
}

#base-layer {
  background-image: url(https://i.imgur.com/6Rx441I.png);
  height: 100vh;
  /* Full height */
  padding-left: 11%;
  padding-right: 11%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.white-container {
  padding: 1em;
  text-align: center;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
}
