<div id="particles-js"></div>
<div class="py-5">
  <div class="text-center">
    <img id="mxm20-logo" src="assets/mxm20_title_bar.png" class="img-fluid" alt="Logo MAXIMA 2020" style="width: 20%">
    <div id="token-container" class="container">
      <div class="row white-container">
        <div class="col-md-12">
          <h1 style="letter-spacing: 2px; font-size: 2.5em">SEDIKIT LAGI!</h1>
        </div>
        <div class="col-md-6">
          <h5>Terima kasih telah mendaftarkan diri untuk menjadi bagian dari keluarga besar
            MAXIMA 2020. Kamu telah menyelesaikan tahap tes potensi dan seleksi formulir.</h5>
        </div>
        <div class="col-md-6">
          <h5>Selanjutnya, kamu harus mendaftarkan token di bawah ini:</h5>
          <h4>{{oprecToken}}</h4>
        </div>
        <div class="col-md-12 pt-3" style="color: #3F51B5; font-weight: bold;">
          <h6>Token didaftarkan kepada panitia di booth MAXIMA 2020.</h6>
          <h6>Booth dibuka mulai Senin, 10 Februari 2020 hingga Kamis, 13 Februari 2020 pada pukul 09.00 WIB -
            17.00</h6>
        </div>
      </div>
    </div>
  </div>
</div>
