<div id="base-layer" class="container-fluid py-3">
  <div id="esai-container" class="container  pb-3 rounded">
<div class="py-5">
  <div class="text-center">
    <img id="mxm20-logo" src="assets/mxm20_title_icon.png" class="img-fluid" alt="Logo MAXIMA 2020" style="width: 119px">
    <div id="token-container" class="container">
      <div class="row white-container">
        <div class="col-md-12">
          <h1>SEDIKIT LAGI!</h1>
        </div>
        <div class="col-md-12">
          <h5>Terima kasih telah mendaftarkan diri untuk menjadi bagian dari keluarga besar
            MAXIMA 2020. Kamu telah menyelesaikan tahap tes potensi dan seleksi formulir.</h5>
        </div>
        <div class="col-md-12">
          <h5>Selanjutnya, kamu harus mendaftarkan token di bawah ini:</h5>
          <h1 style="color: #1F2C4C; letter-spacing: 5px; font-family: canaro-bold; font-weight: bolder;">{{oprecToken}}</h1>
        </div>
        <div class="col-md-12 pt-3" style="color: #F4224B; font-weight: bold;">
          <h6>Token didaftarkan kepada panitia di booth MAXIMA 2020.</h6>
          <h6>Booth dibuka mulai Senin, 10 Februari 2020 hingga Jumat, 14 Februari 2020 pada pukul 09.00 -
            17.00 WIB</h6>
          <button class="press press-pill press-ghost press-pink mt-4" routerLink="/oprec"> Kembali ke halaman awal</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

