<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<header>
    <nav class="nav">
        <div class="con">
            <ul>
                <li class="nav-item"><img class="nav-img" src="../../../../assets/icons/icon-144x144.png" alt="Logo MAXIMA 2020"><a class="item-show" href="#" style="color : #F4224B">MAXIMA 2020</a></li>
                <li class="nav-item"><a class="item-hide" href="#">LINK</a></li>
                <li class="nav-item"><a class="item-hide" href="#">LINK</a></li>
                <li class="nav-item"><a class="item-hide" href="#">LINK</a></li>
                <li class="nav-item"><a class="item-hide" href="#">LINK</a></li>
                <li class="nav-item"><a class="item-hide" href="#">LINK</a></li>
            </ul>
            <ul>
                <li class="nav-item-right"><button class="btn btn-danger" id="signin">SIGN IN</button></li>
                <li class="nav-item-right">
                    <button class="show">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </li>
            </ul>
        </div>
        <div class="con-hide" id="con-hide">
            <ul class="nav-hide-before">
                <li class="nav-item"><button class="close"><i class="lar la-times-circle" id="iconcls"></i></button></li>
            </ul>
            <ul class="nav-hide">
                <li class="nav-item-hide"><img class="nav-img-hide" src="../../../../assets/icons/icon-144x144.png" alt="Logo MAXIMA 2020"></li>
                <li class="nav-item"><a href="#">LINK</a></li>
                <li class="nav-item"><a href="#">LINK</a></li>
                <li class="nav-item"><a href="#">LINK</a></li>
                <li class="nav-item"><a href="#">LINK</a></li>
                <li class="nav-item"><a href="#">LINK</a></li>
            </ul>
            <ul class="nav-hide">
                <li class="nav-item-right"><button class="btn btn-danger" id="signin1">SIGN IN</button></li>
            </ul>
        </div>
    </nav>
</header>