label {
  padding-top: 3vh;
  padding-bottom: 1.5vh;
}

#textarea-container {
  padding: 2em;
}

.text-input {
  float: left;
  width: 100%;
  min-height: 75px;
  resize: none;
  border: 1px solid grey;
}

#selected-division {
  font-weight: bold;
}

#base-layer {
  background-color: red;
}

#esai-container {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #esai-container {
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  #base-layer {
    padding-left: 25%;
    padding-right: 25%;
  }

}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}
