label {
  padding-top: 3vh;
  padding-bottom: 1.5vh;
}
#head {
  font-family: canaro-bold;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  margin-left: 15%;
}

.text-input {
  float: left;
  width: 100%;
  min-height: 75px;
  resize: none;
  border: 1px solid grey;
}

#selected-division {
  font-family: canaro-bold;

}

#base-layer {
  background-image: url(https://i.imgur.com/nQPCt4x.png);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

#esai-container {
  max-width: 960px;
  font-family: canaro-medium;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
}

.form-group{
  padding-top: 15px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */

}
