<div id="base-layer" class="container-fluid py-3">
  <div id="head"><h1 style="color: #41CEBA;">Finalisasi<br>Data</h1></div>
  <div id="esai-container" class="container  pb-3 rounded">

    <form [formGroup]="oprecForm" method="POST" class="gform"
          action="https://docs.google.com/forms/u/0/d/e/1FAIpQLScXM-QOhi0zBpIBZvVGCmKnabOvpYMMf51NyjSypohtGY5LSA/formResponse" target="_self">
      <div class="accordion rounded" id="accordionForm">
        <!-- start of bagian satu -->
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
              Data Diri
            </button>
          </h2>
        </div>
        <div id="collapseOne" class="collapse show card-body" aria-labelledby="headingOne" data-parent="#accordionForm">
          <div class="form-group">
            <label for="nama_lengkap">Nama Lengkap</label>
            <input id="nama_lengkap" name="entry.191457269" type="text" formControlName="nama_lengkap"
                   class="form-control">
          </div>
          <div class="form-row">
            <div class="form-group col-md-3">
              <label for="tempat_lahir">Tempat Lahir</label>
              <input id="tempat_lahir" name="entry.1744458500" type="text" formControlName="tempat_lahir"
                     class="form-control">
            </div>
            <div class="form-group col-md-2">
              <label for="tanggal_lahir">Tanggal Lahir</label>
              <input id="tanggal_lahir" name="entry.2133337644" type="date" formControlName="tanggal_lahir"
                     class="form-control">
            </div>
            <div class="form-group col-md-7">
              <label for="alamat">Alamat Tinggal</label>
              <input id="alamat" name="entry.2003810374" type="text" formControlName="alamat" class="form-control">
            </div>
          </div>
        </div>
        <!-- end of bagian 1 -->

        <!-- bagian 2 -->
        <div class="card">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo"
                      aria-expanded="false" aria-controls="collapseTwo">
                Data Kemahasiswaan
              </button>
            </h2>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionForm">
            <div class="card-body">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nim">NIM</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">000000</span>
                    </div>
                    <input id="nim" name="entry.1656627634" type="text" formControlName="nim" class="form-control">
                  </div>
                </div>
                <div class="form-group col-md-6">
                  <label for="email">Email Student</label>
                  <div class="input-group mb-3">
                    <input id="email" name="entry.1033020308" type="email" formControlName="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="prodi">Program Studi</label>
                  <input id="prodi" name="entry.488440435" type="text" formControlName="prodi" class="form-control">
                </div>
                <div class="form-group col-md-4">
                  <label for="angkatan">Angkatan</label>
                  <input id="angkatan" name="entry.10836282" type="text" formControlName="angkatan" class="form-control">
                </div>
                <div class="form-group col-md-2">
                  <label for="ips_terakhir">IPS Terakhir</label>
                  <input id="ips_terakhir" name="entry.1353217638" type="text" formControlName="ips_terakhir"
                         class="form-control">
                </div>
              </div>
              <div class="form-group">
                <label for="divisi">Divisi</label>
                <input id="divisi" name="entry.950712298" type="text" formControlName="divisi" class="form-control">
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="nomorHP">Nomor Handphone</label>
                  <input id="nomorHP" name="entry.1690574777" type="text" formControlName="nomorHP" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="nomorWA">Nomor WhatsApp</label>
                  <input id="nomorWA" name="entry.2026782915" type="text" formControlName="nomorWA" class="form-control">
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="uLine">LINE ID</label>
                  <input id="uLine" name="entry.1618018805" type="text" formControlName="uLine" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label for="uInstagram">Username Instagram</label>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">@</span>
                    </div>
                    <input id="uInstagram" name="entry.2142714720" type="text" formControlName="uInstagram"
                           class="form-control">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of bagian 2 -->

        <!-- bagian 3 -->
        <div class="card">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree"
                      aria-expanded="false" aria-controls="collapseThree">
                Nilai Tes Kepribadian
              </button>
            </h2>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionForm">
            <div class="card-body">
              <div class="form-row" style="text-align: center;">
                <div class="form-group col-md-2 mr-auto">
                  <label for="eScore"> Extroversion (E) </label>
                  <input id="eScore" name="entry.1289873119" type="text" formControlName="eScore" class="form-control">
                </div>
                <div class="form-group col-md-2 mr-auto">
                  <label for="aScore"> Agreeableness (A) </label>
                  <input id="aScore" name="entry.100052291" type="text" formControlName="aScore" class="form-control">
                </div>
                <div class="form-group col-md-2 mr-auto">
                  <label for="cScore"> Conscientiousness(C) </label>
                  <input id="cScore" name="entry.1859513599" type="text" formControlName="cScore" class="form-control">
                </div>
                <div class="form-group col-md-2 mr-auto">
                  <label for="nScore"> Neuroticism (N) </label>
                  <input id="nScore" name="entry.897193719" type="text" formControlName="nScore" class="form-control">
                </div>
                <div class="form-group col-md-2">
                  <label for="oScore"> Openness (O) </label>
                  <input id="oScore" name="entry.263369192" type="text" formControlName="oScore" class="form-control">
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of bagian 3-->

        <!-- bagian 4 -->
        <div class="card">
          <div class="card-header" id="headingFour">
            <h2 class="mb-0">
              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour"
                      aria-expanded="false" aria-controls="collapseFour">
                Esai Singkat
              </button>
            </h2>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionForm">
            <div class="card-body">
              <div class="form-row">

                <div class="form-group col-md-12">
                  <label for="odyssey"> Bagaimana kamu mendefinisikan <strong>odyssey</strong> sebagai tema MAXIMA 2020?</label>
                  <textarea rows="5" cols="50" id="odyssey" name="entry.91105398" type="text"
                            formControlName="odyssey" class="form-control"> </textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="improvement_mxm"> Apa yang akan kamu tingkatkan pada MAXIMA 2020? </label>
                  <textarea rows="5" cols="50" id="improvement_mxm" name="entry.1834889307" type="text"
                            formControlName="improvement_mxm" class="form-control"> </textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="pertanyaan_divisi"> Pertanyaan Divisi </label>
                  <textarea rows="5" cols="50" id="pertanyaan_divisi" name="entry.255849013" type="text"
                            formControlName="pertanyaan_divisi" class="form-control"> </textarea>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label for="pertanyaan_divisi"> Kepanitiaan yang sedang dan pernah diikuti </label>
                  <textarea rows="5" cols="50" id="kepanitiaan_diikuti" name="entry.1858543271" type="text"
                            formControlName="kepanitiaan_diikuti" class="form-control"> </textarea>
                </div>
              </div>
              <div class="form-row" id="buat_token">
                <div class="form-group col-md-12" style="display:none;">
                  <label for="token_regis"> Token </label>
                  <textarea rows="1" cols="50" id="token_regis" value="${sessionStorage.getItem('token')}"
                            name="token_regis" type="text" formControlName="token_regis"
                            class="form-control"> </textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end of bagian 4 -->
      </div> <!-- end of accordion div -->

      <div>
        <button class="mt-3 press press-pill press-pink btn-block" type="submit">Kirimkan Data</button>
      </div>

    </form>
  </div>
</div>
