#base-layer {
  background-image: url(https://i.imgur.com/dIgMXkC.png);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#head {
  margin-left: 15%;
  font-family: canaro-bold;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

#esai-container {
  font-family: canaro-medium;
}
