<!-- yang lama>
<div class="container-fluid">
  <div class="card-group">
    <div class="card text-white bg-primary mb-3">
      <div class="card-header">Extroversion</div>
      <div class="card-body">
        <h5 class="card-title">Primary card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <button (click)="nextCmp()">Selanjutnya</button>
</div>
<end of lama -->
<h2 style="display:inline-block"> Divisi </h2>
<br>
<div>
  <div class="col-md-2" style="display:inline-block;"></div>
  <div class="card col-md-8" style="align-content:center; display:inline-block;">
    <h3> Big Five Personality Test</h3>
    <br>
    <div class="form-row">
      <div class="form-group col-md-2">
        <p id="aScore"></p>
        <!-- <label for="oScore">Openness</label>
         <input id="oScore" type="text" disabled> -->
      </div>
      <div class="form-group col-md-2">
        <p id="cScore"></p>
        <!-- <label for="cScore">Conscientious</label>
          <input id="cScore" type="text" disabled> -->
      </div>
      <div class="form-group col-md-2">
        <p id="eScore"></p>
        <!-- <label for="eScore">Extraversion</label>
          <input id="eScore" type="text" disabled> -->
      </div>
      <div class="form-group col-md-2">
        <p id="nScore"></p>
        <!-- <label for="aScore">Agreeableness</label>
          <input id="aScore" type="text" disabled> -->
      </div>
      <div class="form-group col-md-2">
        <p id="oScore"></p>
        <!-- <label for="nScore">Neuroticism</label>
          <input id="nScore" type="text" disabled> -->
      </div>
    </div>
  </div>
  <div class="col-md-2" style="display:inline-block;"></div>
</div>
<br>

<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<br> <br>
<div class="card-deck">
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top"
         src="https://storage.googleapis.com/gd-wagtail-prod-assets/original_images/io19_designguide_hero_C_Share_UbDlrD3.png"
         alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.
        This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="text-center">
  <button class="press press-ghost press-red my-3" routerLink="/oprec/form-oprec">Isi data diri</button>
</div>
