#head {
  font-family: canaro-bold;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
  margin-left: 15%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

#esai-container {
  font-family: canaro-medium;
  margin-top: 2%;
  margin-bottom: 3%;
  padding: 5%;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
}

#base-layer {
  background-color: #FFD008;
  height: 100%;
}
