<div id="base-layer" class="container-fluid py-3">
  <div id="head"><h1>Divisi<br>MAXIMA</h1></div>
  <div id="esai-container" class="container pb-3 rounded">
    <div class="card px-5 mb-3 pt-3 text-center container-fluid">
      <h3>Hasil tes kamu menunjukkan...</h3>
      <div class="row">
        <div class="col">
          <p id="aScore" style="font-size: larger;"></p>
        </div>
        <div class="col">
          <p id="cScore" style="font-size: larger;"></p>
        </div>
        <div class="col">
          <p id="eScore" style="font-size: larger;"></p>
        </div>
        <div class="col">
          <p id="nScore" style="font-size: larger;"></p>
        </div>
        <div class="col">
          <p id="oScore" style="font-size: larger;"></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="card-deck col-sm-4 pb-4 ml-auto mr-auto" *ngFor="let datum of data">
        <div class="card ml-auto mr-auto">
          <img class="card-img-top"
               src="{{datum.ilustrasi_divisi}}"
               alt="Ilustrasi divisi">
          <div class="card-body">
            <div class="card-title">
              <h6 style="color: #1F2C4C;">Divisi</h6>
              <h4 style="font-weight: bolder; color: #F4224B;">{{datum.divisi}}</h4>
            </div>
            <p class="card-text" style="color: #1F2C4C;">{{datum.deskripsi}}</p>
            <p class="card-text"><small class="text-muted">Cocok untuk <span
              style="color: #41CEBA;">{{datum.cocok_untuk}}</span> </small></p>
          </div>
        </div>
      </div>
      <div class="text-center col-md-12" >
        <button id="scroll-to-here" routerLink="/oprec/form-oprec" class="press press-ghost press-pill press-lg press-pink">Isi data diri
        </button>
      </div>
    </div>
  </div>
</div>