<body>
<video autoplay="autoplay" muted loop id="myVideo">
  <source src="assets/rain.mp4" type="video/mp4">
</video>
<div class="content">
  <div class="overlay">
    <div class="text-center">
      <img id="mxm20-logo" src="assets/mxm20_logo.png" alt="Logo MAXIMA 2020">
      <br>
      <button id="start-button" class="press press-red press-pill press-ghost press-lg"
              routerLink="/oprec/penilaian-kepribadian"><i class="las la-hand-point-up"></i>
        <div id="start-btn-text"></div>
      </button>
    </div>
  </div>
</div>
</body>
