
#head {
  font-family: canaro-bold;
  color: white;
  font-size: 1.5em;
  font-weight: bolder;
}

#base-layer {
  background-color: #F4224B;
  height: 100%;
}

:focus {
  outline: none;
}

#esai-container {
  font-family: canaro-medium;
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
  0 2px 4px rgba(0, 0, 0, 0.07),
  0 4px 8px rgba(0, 0, 0, 0.07),
  0 8px 16px rgba(0, 0, 0, 0.07),
  0 16px 32px rgba(0, 0, 0, 0.07),
  0 32px 64px rgba(0, 0, 0, 0.07);
}

.radio {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 2px solid #21bf73;
  transition: background-color 0.5s ease;
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.radio:hover {
  background-color: #21bf73;
}

.radio:checked {
  border: 2px solid white;
  background-color: #21bf73;
}

.radio1 {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  border: 2px solid #1F2C4C;
  transition: background-color 0.5s ease;
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.center{
    /* max-width: 600px; */
    margin: auto;
}

.centerkhusus {
    margin: auto;
    width: 25%;
}

.centers {
  max-width: 120px;
  margin: auto;
  padding: 15px;
}
.radio1:hover {
  background-color: #1F2C4C;
}

.radio1:checked {
  border: 2px solid white;
  background: #F4224B;
}

.initext {
  float: left;
  padding-right: 25px;
  padding-top: 10px;
  font-size: 20px;
}

.initext_1 {
  float: left;
  padding-top: 10px;
  font-size: 20px;
}


.initext_2{
    float:right;
    padding-top: 10px;
    font-size: 20px;
}

.textsoal {
  text-align: center;
  font-size: 31px;
}
.radiv {
  width: 100%;
}

@media (min-width: 160px) {
  #soalsoal {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  #soalsoal {
    width: 83%;
    margin: auto;
  }
}

@media (min-width: 386px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  #soalsoal {
    width: 73%;
    margin: auto;
  }
}

@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  #soalsoal {
    width: 60%;
    margin: auto;
  }
}

@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  
}

@media (min-width: 768px) {
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  #head {
    margin-left: 12%;
  }
}

@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}