<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container">
            <div class="text-center p-3">
                <img src="assets/mxm_navy.png" alt="Logo Kuning MAXIMA 2020" class="img-fluid pb-3 mxmimg">
            </div>
            <div>
                <div class="d-flex justify-content-center">
                    <div class="p-3">
                        <a href="https://lin.ee/fV5PZKk"><img height="36" border="0" src="https://scdn.line-apps.com/n/line_add_friends/btn/en.png"></a>
                    </div>
                </div>
                <div class="center-me">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/-9JkMHkUpvA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div class="d-flex justify-content-center">
                    <div class="p-3 text mxm-navy" style="font-size: 1.15em">
                        PAVE YOUR OWN JOURNEY
                    </div>
                    
                </div>
            </div>
        </div>
    </body>
</html>

